.wkt-header {
    height: 80px;
    background-image: url(../images/wkt-bg-4.png);
    background-size: 100% auto;
    overflow: hidden;

    .wkt-header-search {

        height: 60px;
        background-color: rgba(255,255,255, .5);
        margin: 10px 174px 10px 26px;
        border-radius: 30px;
        padding: 0 60px;
        position: relative;
        overflow: hidden;
        .search {
            border: none;
            display: block;
            margin-top: 10px;
            width: 100%;
            height: 40px;
            line-height: 40px;
            background: transparent;
            font-size: 24px;
            color: #333;
        }
        .icon {
            width:30px;
            height: 30px;
            position: absolute;
            top: 15px;
        }
        .icon-searh {
            left: 20px;
            background-image: url(../images/wkt-head-1.png)
        }
        .icon-remove {
            right: 20px;
            background-image: url(../images/wkt-head-2.png)
        }
    }

    .wkt-login-info {
        position: absolute;
        width: 174px;
        top: 10px;
        right: 0;
        height: 60px;
        
        overflow: hidden;

        .icon-user {
            width: 30px;
            height: 30px;
            top: 15px;
            position: absolute;
            left: 10px;
            background-image: url(../images/wkt-head-3.png)
        }
        .text {
            display: block;
            line-height: 60px;
            font-size: 24px;
            color: #fff;
            margin-left: 50px;
        }
    }

    .wkt-back-info {
        .icon-back {
            width: 22px;
            height: 36px;
            background-image: url(../images/wkt-common-8.png);
            margin: 0 0 -6px 0;
        }
         .back-a {
            float: left;
            font-size: 28px;
            line-height: 80px;
            color: #fff;
            padding: 0 20px 0 ;
        }
    }
}

.wkt-header-top {
    height: 555px;
    background-image: url(../images/wkt-bg-2.png);
    background-size: 100% 100%;
    text-align: center;
    overflow: hidden;
    
}

.wkt-full-body {
    display: flex; 
    flex-flow: column; 
    min-height: 100vh; 
    overflow:auto;
    .wkt-my-set-content {
        flex: 1;
    }
}
