.wkt-header {
    @include wkt-short-bg;
    height: 80px;
    top: 0;
    .wkt-header-search {
        @include wkt-search-box;
        margin: 10px 174px 10px 26px;
        padding: 0 60px;
        
    }
    .wkt-header-title {
        text-align: center;
        color: #fff;
        font-size: 28px;
        line-height: 80px;
        position: absolute;
        left: 120px;
        right: 120px;
        z-index: 10;
        @include nowrap;
    }
    .wkt-login-info,.wkt-loginup-info {
        position: absolute;
        width: 174px;
        top: 10px;
        right: 0;
        height: 60px;
        overflow: hidden;
        .icon-user {
            width: 30px;
            height: 30px;
            top: 15px;
            position: absolute;
            left: 10px;
            background-image: url(../images/wkt-head-3.png)
        }
        .text {
            display: block;
            line-height: 60px;
            font-size: 24px;
            color: #fff;
            margin-left: 50px;
        }
    }

    .wkt-loginup-info {
        img {
            width: 60px;
            height: 60px;
            margin-left: 20px;
            float: left;
        }
        .up-text {
            font-size: 22px;
            color: #fff;
            position: absolute;
            top: 0;
            right: 10px;
            width: 75px;
            height: 60px;
            justify-content: center;
            align-items: center;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }

    .wkt-back-info {
        .icon-back {
            width: 22px;
            height: 36px;
            background-image: url(../images/wkt-common-8.png);
            margin: 0 0 -6px 0;
            
        }
         .back-a, .down-a {
            float: left;
            font-size: 28px;
            line-height: 80px;
            color: #fff;
            padding: 0 20px;
        }
        .down-a {
            float: right;
            padding: 0 40px;
        }
    }
}
.wkt-header-index {
    background-color: transparent;
}
.wkt-header-top {
    height: 555px;
    background-image: url(../images/wkt-bg-2.png);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    
}
.wkt-footer-bg {
    height: 555px;
    background-image: url(../images/wkt-bg-1.png);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    > p {
        font-size: 36px;
        color: #fff;
        margin: 150px 0 0 0 ;
    }
}
.wkt-full-body {
    display: flex; 
    flex-flow: column; 
    min-height: 100vh; 
    overflow:auto;
    .wkt-404-content,.wkt-only-content,.wkt-only-footer,.wkt-content-comment,.wkt-content-footer,.wkt-long-content {
        flex: 1;
    }
}
.wkt-only-content {
    margin: 80px 0 0;
}
.wkt-only-footer {
    margin: 0 0 120px;
}
.wkt-content-comment {
    margin: 80px 0 100px;
}
.wkt-content-footer {
    margin: 80px 0 120px;
}
.wkt-404-content {
    display: flex;
    justify-content: flex-end;
    > img {
        width: 588px;
        height: 615px;
    }
}
.wkt-no-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {
        width: 388px;
        height: 256px;
    }
    > p {
        margin-top: 50px;
        font-size: 32px;
        color: #a7a4a8;
    }
}
.wkt-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 120px;
    background: #fff;
    border-top: 1px solid #f1f1f1;

    ul {
        margin: 0 40px;
    }

    li {
        float: left;
        width: 25%;
        font-size: 22px;
        text-align: center;
        position: relative;
        a {
            color: $color_txt;
        }
        .text{
            display: block;
            margin: 75px auto 0;
        }
        .icon-nav-1 {
            background-image: url(../images/wkt-nav-1.png)
        }
        .icon-nav-2 {
            background-image: url(../images/wkt-nav-2.png)
        }
        .icon-nav-3 {
            background-image: url(../images/wkt-nav-3.png)
        }
        .icon-nav-4 {
            background-image: url(../images/wkt-nav-4.png)
        }
    }
    li.on {
        a {
            color: $color;
        }
        .icon-nav-1 {
            background-image: url(../images/wkt-nav-1-on.png)
        }
        .icon-nav-2 {
            background-image: url(../images/wkt-nav-2-on.png)
        }
        .icon-nav-3 {
            background-image: url(../images/wkt-nav-3-on.png)
        }
        .icon-nav-4 {
            background-image: url(../images/wkt-nav-4-on.png)
        }
    }
    li.new {
        position: relative;
        &:after {
            @include wkt-hot-dot;
            top: 2px;
            left: 50%;
            margin-left: 18px;
            z-index: 11;
        }
    }
    .icon {
        position: absolute;
        left: 50%;
        margin-left: -37px;
        top: -10px;
        width: 74px;
        height: 74px;
        z-index: 10;
        background-image: url(../images/wkt-nav-1.png)
    }
}

.wkt-long-content {
    background-image: url(../images/wkt-bg-3.png);
    background-size: auto 1200px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        width: 500px;
        color: #fff;

        .icon-warn {
            @include icon(29px,28px,'../images/wkt-icon-2.png');
            margin: 0  5px -5px 0;
        }
        .head-img {
            width: 50px;
            height: 50px;
            margin: 0  10px -15px 0;
        }
        .p1 {
            font-size: 22px;
            margin-top: 30px;
        }
        .p2 {
            font-size: 32px;
            margin-top: 30px;
            
        }
        .p3 {
            margin-top: 30px;
            font-size: 24px;
        }
    }
    .top {
        height: 140px;
        .logo { 
            margin-top: 0;
        }
    }

    .middle {
        width: 500px;
        height: 500px;
        background-color: rgba(255, 255, 255, .4);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;

        img {
            width: 85%;
            height: 85%;
        }
    }


}

.wkt-play-box {
    .video-img {
        margin:  0 0 20px 0;
    }
    .play-title {
        padding: 20px 20px 0;
        font-size: 28px;
        text-align: center;
        >img {
            width: 250px;
            height: 250px;
            margin: 30px 0;
        }
    }
    .progress {
        margin: 0 20px;
        position: relative;
        .bar {

            border-top: 5px solid #ddd;
            height: 40px;
            position: relative;

            &:after,&:before {
                @include after;
                width: 12px;
                height: 12px;
                border-radius: 12px;
                background-color: #ddd;
                left: -1px;
                top: -8px;
            }
            &:after {
                left: auto;
                right: -1px;
            }
            span {
                line-height: 40px;
                font-size: 20px;
            }
            .l {
                float: left;
            }
            .r {
                float: right;
            }
        }
    }
    .prog {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .icon-bar {
            @include icon(14px,28px,'../images/wkt-media-4.png');
            position: absolute;
            left: 200px;
            top: -12px;
        }
        &:before {
            @include after;
            width: 12px;
            height: 12px;
            border-radius: 12px;
            background-color: $color;
            left: -1px;
            top: -4px;
        }
        div {
            position: absolute;
            top: 0;
            left: 0;
        }
        .l {
            border-top: 5px solid $color;
            width: 200px;
        }
        .r {
            border-top: 5px solid #aaa;
            left: 200px;
            width: 200px;
        }
    }
    .option {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 20px 0;
    }
    .icon-paly-1 {
        @include icon(30px,34px,'../images/wkt-media-2.png');
        &:active {
            background-image: url(../images/wkt-media-2-on.png)
        }
    }

    .icon-paly-2 {
        @include icon(132px,132px,'../images/wkt-media-1.png');
        margin: 0 40px;
    }

    .icon-paly-3 {
        @include icon(30px,34px,'../images/wkt-media-3.png');
        &:active {
            background-image: url(../images/wkt-media-3-on.png)
        }
    }
}

.wkt-comment-box {
    @include wkt-border-top;
    
    .comment-title {
        line-height: 65px;
        font-size: 24px;
        color: $color_txt;
        margin: 0 30px;
        border-bottom: 1px solid #ddd;
        
        .icon-msg {
            @include icon(22px,18px,'../images/wkt-comment-1.png');
            margin: 0 2px 0 0;
        }
    }
    .comment-list {
        > li {
            margin: 0 0 0 60px;
            padding: 20px 30px;
            font-size: 24px;
            border-bottom: 1px solid #ddd;
            .head-img {
                width: 50px;
                height: 50px;
                position: absolute;
                left: -60px;
            }
            .title {
                color: $color_txt;
                line-height: 50px;
                height: 50px;
                position: relative;
                .min {
                    font-size: 20px;
                    color: #7d7d7d;
                }   
            }
            .button {
                background-color: #f6f6f6;
                white-space: nowrap;
                color: #777;
                font-size: 22px;
                text-align: center;
                padding: 3px 25px;
                border-radius: 30px;
                margin: 10px 0;
            }
            .content,.option {
                color: $color_txt;
                margin: 10px 0 0 0;
                line-height: 40px;
            }
            .reply {
                font-size: 24px;
                background: #f8f8f8;
                border-radius: 20px;
                padding: 25px 25px 15px;
                margin: 20px  0 0 0;
                position: relative;
                &:after {
                    @include after;
                    border-top: 22px solid transparent;
                    border-left: 18px solid transparent ;
                    border-right: 18px solid transparent;
                    border-bottom: 22px solid #f8f8f8;
                    left: 30px;
                    top: -40px;
                }

                li {
                    margin-bottom: 10px;
                    display: flex;
                }
                
                
                .name {
                    flex: 1;
                    white-space:nowrap;
                    color: $color;
                    line-height: 35px;
                }
                .text {
                    flex: 100;
                    line-height: 35px;
                }
              
            }
            
        }
        > li:last-child {
            border-bottom: none;
        }
    }
}

.wkt-comment-bottom-box {
    background: #fff;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f1f1f1;
    display: flex;
    .wkt-search-box {
        background: #f1f1f1;
        margin: 20px 0 0px 26px;
        padding: 0 30px;
        flex: 2;
    }
    .comment-right {
        flex: 1;
        white-space: nowrap;
        padding-left: 20px;
        font-size: 22px;
        >span {
            background-color: #f1f1f1;
            font-size: 22px;
            color: #777;
            display: inline-block;
            line-height: 40px;
            margin:30px 20px 0 0 ;
            padding: 0 20px;
            border-radius: 30px;
            .icon {
                @include icon(22px,18px);
                margin: 0 0 -2px 0;
            }
            .icon-zf {
                background-image: url(../images/wkt-comment-2.png);
            }
            .icon-dz {
                background-image: url(../images/wkt-comment-3.png);
                &:active {
                    background-image: url(../images/wkt-comment-3-on.png);
                }
            }
        }
    }
}

.wkt-dialog-box {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);

    .wkt-reply-box {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        height: 320px;
        background-color: #fff;
        padding: 0 30px;

        .title {
            text-align: center;
            font-size: 28px;
            line-height: 80px;
            color: $color;
            position: relative;
            .canle {
                float: right;
                padding: 0 30px;
                color: #979797;
                position: absolute;
                right: 0;
            }
        }

        .textarea-box {
            position: relative;
            textarea {
                @include wkt-input;
                border-radius: 15px;
                padding:10px 30px;
                height: 140px;
            }

            >span {
                position: absolute;
                color: #979797;
                font-size: 20px;
                bottom: 10px;
                right: 10px;
            }
        }
        .wkt-button-flat {
            float: right;
            margin-top: 20px;
        }

    }
}

