.wkt-index-course-content {

    margin-left: 210px;
    
}

.wkt-index-course-left {
    position: fixed;
    left: 0;
    top: 80px;
    bottom: 0;
    width: 200px;
    background-color: #f4f4f4;
    overflow-y: scroll;

    > li {

        height: 100px;
        line-height: 100px;
        color: $color_txt;
        font-size: 24px;
        text-align: center;
        position: relative;
        
        &:after {
            @include after;
            bottom: 0;
            left: 10%;
            width: 80%;
            border-bottom: 1px solid #ddd;
        }

        .icon-hot {
            @include icon(26px,32px,'../images/wkt-hot.png');
            margin: 0 4px -3px 0;
        }
    }
   
    > li.on {
        background-color: #fff;
        &:after {
            border: none;
        }
    }

    > li.new {
        .text {
            position: relative;
            &:after {
                @include wkt-hot-dot;
                top: -10px;
                right: -10px;
            }
        }
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
.wkt-index-course-left::-webkit-scrollbar  
{  
    width: 4px;  
    height: 4px;  
    background-color: #fff;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
.wkt-index-course-left::-webkit-scrollbar-track  
{  
    box-shadow: inset 0 0 6px #fff;  
    border-radius: 10px;  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
.wkt-index-course-left::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    box-shadow: inset 0 0 6px #ddd;  
    background-color: #555;  
} 


.wkt-index-books-list {

    margin: 0 30px;
    li {
        padding: 30px 0;
        border-bottom: 1px solid #ddd;
        
    }
    
    .books-left {
        width: 150px;
        height: 150px;
        float: left;
        border: 1px solid #ddd;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 90%;
        }
        .no-img {
            width: 80px;
            height: 68px;
        }
    }
    li.no {
        .books-left {
            background-color: #f9f9f9;
        }
    }
    .books-content {
        margin-left: 170px;
        min-height: 150px;
        color: #999;
        font-size: 24px;
        .title {
            font-size: 24px;
            color: $color_txt;
            margin-top: 15px;
        }
        .info {
            margin-top: 5px;
            max-height: 80px;
            min-height: 40px;
            line-height: 35px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        .author {
            margin-top: 5px;
        }
        
    }
}