.wkt-login-header {

    .logo {
        display: block;
        width: 244px;
        height: 273px;
        margin: 50px auto 0;
    }
    
}

.wkt-login-content {
    margin: 0 107px 0 155px;
    text-align: center;
    input {
        border: none;
        font-size: 30px;
        height: 50px;
        padding-left: 10px;
        float: left;
        margin-top: 10px;
    }

    .wkt-line {
        border-bottom: 1px solid #ddd;
        text-align: left;
        margin-top: 80px;
        height: 70px;
        position: relative;

        .send-code {
            position: absolute;
            right: 0;
            top: 10px;
            line-height: 50px;
            padding: 0 15px 0 30px;
            border-left:1px solid #eee;
            color: $color;
        }
        .icon {
            position: absolute;
            left: -40px;
            top: 20px;
            width: 24px;
            height: 28px;
        }
        .icon-phone {
            background-image: url(../images/wkt-login-1.png)
        }
        .icon-code {
            background-image: url(../images/wkt-login-2.png)
        }
    }
    .send-code {
        font-size: 30px;
        
    }
    .wkt-msg {
        text-align: left;
        font-size: 24px;
        height: 60px;
        line-height: 60px;
        color: $color;
        white-space: nowrap;
    }
    .wkt-erro {
        font-size: 24px;
        color: $color;
        margin-top: 20px;
        height: 28px;
        .icon-err {
            width: 28px;
            height: 28px;
            background-image: url(../images/wkt-icon-1.png);
            margin:0 5px  -3px 0;
        }
    }
}