.wkt-message-content {
    background-color: #f4f4f4;
    .list {
        overflow: hidden;

        li {
            font-size: 24px;
            color: #555;
            background-color: #fff;
            margin-bottom: 25px;
            padding: 0 20px 10px;
            line-height: 40px;
            overflow: hidden;
            position: relative;
        }
        button.delete {
            display: none;
        }
        li.delete {
            @include wkt-delete-box;
        }
        .text {
            letter-spacing: 2px;
        }
        .tip {
            text-align: right;
            line-height: 40px;
            margin-top: 10px;
        }
        .tip.new {
            color:red;
        }


    }
}

.wkt-message-content-footer {
    margin-bottom: 230px;
    .wkt-message-content {
        background-color: #fff;


        .message-list {
            margin: 30px 30px;
            text-align: center;
            li {
                position: relative;
                margin-top: 40px;
            }
            .time {
                @include wkt-little-button;
                margin: 0 auto;
            }
            .content {
                text-align: left;
                color: #557755;
                position: relative;
                img {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                }
                > div {
                    margin-left: 70px;
                    position: relative;
                    font-size: 24px;
                    &:after {
                        @include after;
                        border-top: 22px solid transparent;
                        border-left: 18px solid transparent ;
                        border-right: 18px solid transparent;
                        border-bottom: 22px solid #f8f8f8;
                        left: 30px;
                        top: 10px;
                    }
                }
                .name {
                    font-size: 22px;
                }
                .text {
                    font-size: 24px;
                    background-color: #f8f8f8;
                    line-height: 40px;
                    padding: 20px 30px;
                    border-radius: 20px;
                    margin-top: 20px;
                    display: inline-block;
                }
                
            }
            .my .content {
                text-align: right;
                img {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    left: auto;
                    right: 0;
                }
                > div {
                    margin-left: auto;
                    margin-right: 70px;
                    &:after {
                        left: auto;
                        right: 30px;
                        border-bottom-color:  $color_bg;
                    }
                }
                .text {
                    background-color: $color_bg;
                }
            }
        }
    }
}

.wkt-message-footer {
    @include wkt-short-bg;
    bottom: 120px;
    height: 100px;
    .wkt-message-search {
        @include wkt-search-box;
        margin: 20px 120px 20px 26px;
        padding: 0 60px 0 30px;
    }
    .wkt-message-right {
        line-height: 100px;
        @include wkt-search-right;
    }
}