
.wkt-my-header {

    height: 230px;
    background-image:url(../images/wkt-bg-5.png); 
    background-size: 100%  auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    .top {
        height: 130px;

        .set-a {
            position: absolute;
            font-size: 24px;
            color: #fff;
            background-color: rgba(255, 255, 255, .3);
            padding: 8px 20px;
            border-radius: 30px;
            top: 20px;
            right: 30px;
        }
        .icon-set {
            @include icon(30px,30px,'../images/wkt-head-4.png');
            margin: 0 4px -8px 0;
        }
    }
    .middle {
        position: absolute;
        top: 60px;
        left: 50px;
        display: flex;
        .head-img {
            width: 130px;
            height:130px;
            border: 6px solid  rgba(255, 255, 255, .9);
            border-radius: 50%;
        }
        .info {
            margin-left: 25px;
        }
        .name {
            font-size: 34px;
            color: #fff;
            margin-top: 15px;
        }
        .tel {
            font-size: 24px;
            color: #8c8c8c;
            margin-top: 25px;
            margin-left: 5px;
        }
        .icon-phone {
            @include icon(15px,26px,'../images/wkt-phone.png');
            margin: 0 4px -4px 0;
        }
    }
    .bottom {
        height: 100px;
        background: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.wkt-my-list-content {

    border-top: 30px solid #f4f4f4;
    

    .menu-list {
        margin: 0 0 0 30px ;
        a {
            display: block;
            font-size: 28px;
            color: $color-txt;
            line-height: 100px;
            border-bottom: 1px solid #ddd;
            margin-left: 60px;
            position: relative;
            padding: 0 0 0 30px;
        }
        .icon {
            position: absolute;
            top: 50%;
            left: -44px;
            margin-top: -22px;
            @include icon(44px,44px);
        }
        .icon-goin {
            left: auto;
            right: 30px;
            margin-top: -18px;
            @include icon(22px,36px,'../images/wkt-common-7.png');
        }
        @for $i from 1 through 6 {
            .icon-menu-#{$i} { 
                background-image: url(../images/wkt-menu-#{$i}.png)
            }
       }
    }
}
.wkt-my-loginout {
    @include wkt-little-button;
    padding: 0 60px;
    display: block;
    margin: 30px auto 0;
}

.wkt-my-set-content {
    margin: 10px 30px;
    input, select {
        @include wkt-input;
    }
    .select {
        display: block;
        position: relative;
        select {
            background: transparent;
        }
        &:after {
            @include after;
            top: 0;
            right: 0;
            border-top: 22px solid #666;
            border-left: 13px solid transparent ;
            border-right: 13px solid transparent;
            border-bottom: 22px solid transparent;
            right: 40px;
            top: 50%;
            margin-top: -11px;
            z-index: -1;
        }
        &:before {
            @include after;
            @include wkt-input;
            z-index: -2;
        }
    }
    li:first-child {
        img {
            width: 50px;
            height: 50px;
            margin: 0 10px -15px 50px;
        }
        font-size: 24px;
        line-height: 50px;
    }
    li {
       
        margin-top: 30px;
        
        .tips {

            font-size: 22px;
            color: #888;
            padding-left: 40px;
            height: 50px;
        }
    }
    li.up {
        position: relative;

        .up-button, .delete-button {
            @include wkt-little-button;
            padding: 0 40px;
            position: absolute;
            right: 40px;
            bottom: 26px;
        }

    }
    li.option {
        position: relative;
        text-align: right;
        padding-right: 40px;
        .icon {
            @include icon(150px,150px)
        }
        .absoulte {
            position: absolute;
            top: 0;
            right: 40px;
        }
        .icon-radio {
            background-image: url(../images/wkt-common-2.png)
        }
        .icon-video {
            background-image: url(../images/wkt-common-1.png)
        }
        .icon-up {
            background-image: url(../images/wkt-create-1.png)
        }
        .icon-delete {
            background-image: url(../images/wkt-create-2.png)
        }
    }

   
}
.wkt-my-bottom-box {
    margin:20px 0 50px;
    text-align: center;
    .check-box {
        font-size: 28px;

        input[type=checkbox] {
            margin: 0 10px -10px 0;
        }
       
    }
    .msg {
        font-size: 22px;
        color: #888;
    }
    .icon-no-more {
        width: 30px;
        height: 30px;
        background-image: url(../images/wkt-icon-3.png);
        margin: 0 0 -5px 0;
    }
}

.wkt-my-contact-header {
    height: 300px;
    .logo {
        width: 120px;
        height: 120px;
        margin: 40px 0 -40px 0;
    }
    .text {
        width: 213px;
        height: 39px;
    }
}
