.wkt-my-set-content {
    margin: 10px 30px;
    input {
        @include wkt-input;
    }
    li:first-child {
        img {
            width: 50px;
            height: 50px;
            margin: 0 10px -15px 50px;
        }
        font-size: 24px;
        line-height: 50px;
    }
    li {
       
        margin-top: 30px;
        
        .tips {

            font-size: 22px;
            color: #888;
            padding-left: 40px;
            height: 50px;
        }
    }

   
}
.wkt-my-bottom-box {
    margin:20px 0 50px;
    text-align: center;

    .msg {
        font-size: 22px;
        color: #888;
    }
    .icon-no-more {
        width: 30px;
        height: 30px;
        background-image: url(../images/wkt-icon-3.png);
        margin: 0 0 -5px 0;
    }
}

.wkt-my-contact-header {
    height: 300px;
    .logo {
        width: 120px;
        height: 120px;
        margin: 40px 0 -40px 0;
    }
    .text {
        width: 213px;
        height: 39px;
    }
}
