body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-touch-callout: none;
  touch-callout: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

fieldset,
img {
  border: 0;
  max-width: 100%; }

li {
  list-style: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  -webkit-appearance: none; }

button {
  -webkit-appearance: none;
  border: 0;
  background: none; }

a {
  -webkit-touch-callout: none;
  text-decoration: none;
  cursor: pointer; }

a:active {
  background-color: rgba(0, 0, 0, 0.1); }

a:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

em, i {
  font-style: normal; }

.relative {
  position: relative !important; }

.hide {
  display: none !important; }

.show {
  display: -webkit-box !important; }

.block {
  display: block !important; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both; }

.icon {
  display: inline-block;
  background-size: 100% 100%; }

.wkt-common-tab {
  height: 1.33333rem;
  line-height: 1.33333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }
  .wkt-common-tab > li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    text-align: center;
    color: #575757;
    font-size: 0.37333rem;
    background-color: #f4f4f4;
    position: relative; }
  .wkt-common-tab > li:not(:last-child):after {
    content: "";
    position: absolute;
    right: 0;
    height: 1.06667rem;
    top: 0.13333rem;
    border-right: 0.01333rem solid #ddd; }
  .wkt-common-tab > li.on {
    background: #fff; }
  .wkt-common-tab > li.new .text {
    position: relative; }
    .wkt-common-tab > li.new .text:after {
      content: "";
      position: absolute;
      right: -0.18667rem;
      top: -0.10667rem;
      width: 0.16rem;
      height: 0.16rem;
      border-radius: 50%;
      background-color: red; }
  .wkt-common-tab .icon {
    width: 0.37333rem;
    height: 0.4rem;
    margin: 0 0.06667rem -0.06667rem 0; }
  .wkt-common-tab .icon-radio {
    background-image: url(../images/wkt-data-1.png); }
  .wkt-common-tab .icon-video {
    background-image: url(../images/wkt-data-2.png); }

.wkt-course-list {
  margin: 0 0.4rem; }
  .wkt-course-list li {
    padding: 0.4rem 0;
    border-bottom: 0.01333rem solid #ddd; }
  .wkt-course-list .course-img {
    width: 2rem;
    height: 2rem;
    float: left; }
  .wkt-course-list .course-content {
    margin-left: 2.26667rem;
    min-height: 2rem;
    color: #575757; }
    .wkt-course-list .course-content .title {
      max-height: 1.06667rem;
      min-height: 0.8rem;
      line-height: 0.53333rem;
      font-size: 0.32rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden; }
    .wkt-course-list .course-content .content {
      margin-top: 0.2rem;
      position: relative; }
      .wkt-course-list .course-content .content .left {
        font-size: 0.32rem; }
      .wkt-course-list .course-content .content .head-img {
        width: 0.66667rem;
        height: 0.66667rem;
        margin: 0 0.13333rem -0.16rem 0.06667rem; }
      .wkt-course-list .course-content .content .right {
        position: absolute;
        font-size: 0.32rem;
        right: 0.06667rem;
        top: -0.06667rem; }
      .wkt-course-list .course-content .content .icon {
        width: 0.8rem;
        height: 0.8rem; }
      .wkt-course-list .course-content .content .icon-play {
        background-image: url(../images/wkt-common-5.png); }
      .wkt-course-list .course-content .content .icon-dowm {
        background-image: url(../images/wkt-common-6.png); }

.wkt-button {
  width: 5.70667rem;
  height: 2.41333rem;
  line-height: 2.41333rem;
  background-image: url(../images/wkt-button.png);
  background-size: 100% 100%;
  text-align: center;
  display: inline-block;
  font-size: 0.45333rem;
  letter-spacing: 0.21333rem;
  color: #fff; }
  .wkt-button:hover, .wkt-button:active {
    background-image: url(../images/wkt-button-on.png); }

.wkt-header {
  position: fixed;
  left: 0;
  right: 0;
  background-image: url(../images/wkt-bg-4.png);
  background-size: 100% auto;
  background-color: #fff;
  z-index: 9;
  height: 1.06667rem;
  top: 0; }
  .wkt-header .wkt-header-search {
    background-color: rgba(255, 255, 255, 0.5);
    height: 0.8rem;
    border-radius: 0.4rem;
    position: relative;
    overflow: hidden;
    margin: 0.13333rem 2.32rem 0.13333rem 0.34667rem;
    padding: 0 0.8rem; }
    .wkt-header .wkt-header-search .icon {
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      top: 0.2rem; }
    .wkt-header .wkt-header-search .icon-searh {
      left: 0.26667rem;
      background-image: url(../images/wkt-head-1.png); }
    .wkt-header .wkt-header-search .icon-remove {
      right: 0.26667rem;
      background-image: url(../images/wkt-head-2.png); }
    .wkt-header .wkt-header-search .search {
      border: none;
      display: block;
      margin-top: 0.13333rem;
      width: 100%;
      height: 0.53333rem;
      line-height: 0.53333rem;
      background: transparent;
      font-size: 0.32rem;
      color: #333; }
  .wkt-header .wkt-login-info, .wkt-header .wkt-loginup-info {
    position: absolute;
    width: 2.32rem;
    top: 0.13333rem;
    right: 0;
    height: 0.8rem;
    overflow: hidden; }
    .wkt-header .wkt-login-info .icon-user, .wkt-header .wkt-loginup-info .icon-user {
      width: 0.4rem;
      height: 0.4rem;
      top: 0.2rem;
      position: absolute;
      left: 0.13333rem;
      background-image: url(../images/wkt-head-3.png); }
    .wkt-header .wkt-login-info .text, .wkt-header .wkt-loginup-info .text {
      display: block;
      line-height: 0.8rem;
      font-size: 0.32rem;
      color: #fff;
      margin-left: 0.66667rem; }
  .wkt-header .wkt-loginup-info img {
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.26667rem;
    float: left; }
  .wkt-header .wkt-loginup-info .up-text {
    font-size: 0.29333rem;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0.13333rem;
    width: 1rem;
    height: 0.8rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; }
  .wkt-header .wkt-back-info .icon-back {
    width: 0.29333rem;
    height: 0.48rem;
    background-image: url(../images/wkt-common-8.png);
    margin: 0 0 -0.08rem 0; }
  .wkt-header .wkt-back-info .back-a, .wkt-header .wkt-back-info .down-a {
    float: left;
    font-size: 0.37333rem;
    line-height: 1.06667rem;
    color: #fff;
    padding: 0 0.26667rem; }
  .wkt-header .wkt-back-info .down-a {
    float: right;
    padding: 0 0.53333rem; }

.wkt-header-top {
  height: 7.4rem;
  background-image: url(../images/wkt-bg-2.png);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden; }

.wkt-full-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
  overflow: auto; }
  .wkt-full-body .wkt-content, .wkt-full-body .wkt-content-footer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1; }

.wkt-content {
  margin: 1.06667rem 0 0; }

.wkt-content-footer {
  margin: 1.06667rem 0 1.6rem; }

.wkt-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  height: 1.6rem;
  background: #fff;
  border-top: 0.01333rem solid #f1f1f1; }
  .wkt-footer ul {
    margin: 0 0.53333rem; }
  .wkt-footer li {
    float: left;
    width: 25%;
    font-size: 0.29333rem;
    text-align: center;
    position: relative; }
    .wkt-footer li a {
      color: #575757; }
    .wkt-footer li .text {
      display: block;
      margin: 1rem auto 0; }
    .wkt-footer li .icon-nav-1 {
      background-image: url(../images/wkt-nav-1.png); }
    .wkt-footer li .icon-nav-2 {
      background-image: url(../images/wkt-nav-2.png); }
    .wkt-footer li .icon-nav-3 {
      background-image: url(../images/wkt-nav-3.png); }
    .wkt-footer li .icon-nav-4 {
      background-image: url(../images/wkt-nav-4.png); }
  .wkt-footer li.on a {
    color: #7463c8; }
  .wkt-footer li.on .icon-nav-1 {
    background-image: url(../images/wkt-nav-1-on.png); }
  .wkt-footer li.on .icon-nav-2 {
    background-image: url(../images/wkt-nav-2-on.png); }
  .wkt-footer li.on .icon-nav-3 {
    background-image: url(../images/wkt-nav-3-on.png); }
  .wkt-footer li.on .icon-nav-4 {
    background-image: url(../images/wkt-nav-4-on.png); }
  .wkt-footer li.new {
    position: relative; }
    .wkt-footer li.new:after {
      content: "";
      position: absolute;
      top: 0.02667rem;
      left: 50%;
      margin-left: 0.24rem;
      width: 0.18667rem;
      height: 0.18667rem;
      border-radius: 50%;
      background-color: red;
      z-index: 11; }
  .wkt-footer .icon {
    position: absolute;
    left: 50%;
    margin-left: -0.49333rem;
    top: -0.13333rem;
    width: 0.98667rem;
    height: 0.98667rem;
    z-index: 10;
    background-image: url(../images/wkt-nav-1.png); }

.wkt-search-box {
  background-color: rgba(255, 255, 255, 0.5);
  height: 0.8rem;
  border-radius: 0.4rem;
  position: relative;
  overflow: hidden;
  margin: 0.13333rem 1.6rem 0.13333rem 0.34667rem;
  padding: 0 0.8rem; }
  .wkt-search-box .icon {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0.2rem; }
  .wkt-search-box .icon-searh {
    left: 0.26667rem;
    background-image: url(../images/wkt-head-1.png); }
  .wkt-search-box .icon-remove {
    right: 0.26667rem;
    background-image: url(../images/wkt-head-2.png); }
  .wkt-search-box .search {
    border: none;
    display: block;
    margin-top: 0.13333rem;
    width: 100%;
    height: 0.53333rem;
    line-height: 0.53333rem;
    background: transparent;
    font-size: 0.32rem;
    color: #333; }

.wkt-search-right {
  line-height: 1.06667rem;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.4rem;
  width: 1.6rem;
  text-align: center; }
  .wkt-search-right button {
    color: #fff; }

.wkt-search-content .history-list {
  margin: 0 0.4rem 0.13333rem;
  max-height: 3.33333rem;
  overflow: hidden; }
  .wkt-search-content .history-list dt {
    font-size: 0.34667rem;
    line-height: 1.33333rem;
    color: #000; }
  .wkt-search-content .history-list dd {
    float: left;
    font-size: 0.29333rem;
    padding: 0.13333rem 0.4rem;
    color: #575757;
    background: #eeeeee;
    margin: 0 0.26667rem 0.4rem 0;
    border-radius: 0.4rem; }

.wkt-search-content .no-search {
  margin: 0 0.4rem;
  text-align: center;
  line-height: 2.13333rem;
  font-size: 0.32rem;
  color: #575757;
  border-bottom: 0.01333rem solid #ddd; }
  .wkt-search-content .no-search .icon-no-data {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(../images/wkt-icon-4.png);
    margin: 0 0.13333rem -0.26667rem 0; }

.wkt-search-bottom-box {
  margin-bottom: 0.66667rem;
  text-align: center; }
  .wkt-search-bottom-box .icon-clean {
    width: 1.06667rem;
    height: 1.06667rem;
    background-image: url(../images/wkt-common-9.png); }

.wkt-login-header .logo {
  display: block;
  width: 3.25333rem;
  height: 3.64rem;
  margin: 0.66667rem auto 0; }

.wkt-login-content {
  margin: 0 1.42667rem 0 2.06667rem;
  text-align: center; }
  .wkt-login-content input {
    border: none;
    font-size: 0.4rem;
    height: 0.66667rem;
    padding-left: 0.13333rem;
    float: left;
    margin-top: 0.13333rem; }
  .wkt-login-content .wkt-line {
    border-bottom: 0.01333rem solid #ddd;
    text-align: left;
    margin-top: 1.06667rem;
    height: 0.93333rem;
    position: relative; }
    .wkt-login-content .wkt-line .send-code {
      position: absolute;
      right: 0;
      top: 0.13333rem;
      line-height: 0.66667rem;
      padding: 0 0.2rem 0 0.4rem;
      border-left: 0.01333rem solid #eee;
      color: #7463c8; }
    .wkt-login-content .wkt-line .icon {
      position: absolute;
      left: -0.53333rem;
      top: 0.26667rem;
      width: 0.32rem;
      height: 0.37333rem; }
    .wkt-login-content .wkt-line .icon-phone {
      background-image: url(../images/wkt-login-1.png); }
    .wkt-login-content .wkt-line .icon-code {
      background-image: url(../images/wkt-login-2.png); }
  .wkt-login-content .send-code {
    font-size: 0.4rem; }
  .wkt-login-content .wkt-msg {
    text-align: left;
    font-size: 0.32rem;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #7463c8;
    white-space: nowrap; }
  .wkt-login-content .wkt-erro {
    font-size: 0.32rem;
    color: #7463c8;
    margin-top: 0.26667rem;
    height: 0.37333rem; }
    .wkt-login-content .wkt-erro .icon-err {
      width: 0.37333rem;
      height: 0.37333rem;
      background-image: url(../images/wkt-icon-1.png);
      margin: 0 0.06667rem  -0.04rem 0; }

.wkt-message-content {
  background-color: #f4f4f4; }
  .wkt-message-content .list {
    overflow: hidden; }
    .wkt-message-content .list li {
      font-size: 0.32rem;
      color: #555;
      background-color: #fff;
      margin-bottom: 0.33333rem;
      padding: 0 0.26667rem 0.13333rem;
      line-height: 0.53333rem;
      overflow: hidden;
      position: relative; }
    .wkt-message-content .list button.delete {
      display: none; }
    .wkt-message-content .list li.delete {
      margin-left: -1.86667rem;
      padding-right: 2rem; }
      .wkt-message-content .list li.delete button.delete {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1.86667rem;
        height: 100%;
        background-color: #eb635a;
        font-size: 0.4rem;
        color: #fff; }
    .wkt-message-content .list .text {
      letter-spacing: 0.02667rem; }
    .wkt-message-content .list .tip {
      text-align: right;
      line-height: 0.53333rem;
      margin-top: 0.13333rem; }
    .wkt-message-content .list .tip.new {
      color: red; }

.wkt-message-content-footer {
  margin-bottom: 3.06667rem; }
  .wkt-message-content-footer .wkt-message-content {
    background-color: #fff; }
    .wkt-message-content-footer .wkt-message-content .message-list {
      margin: 0.4rem 0.4rem;
      text-align: center; }
      .wkt-message-content-footer .wkt-message-content .message-list li {
        position: relative;
        margin-top: 0.53333rem; }
      .wkt-message-content-footer .wkt-message-content .message-list .time {
        display: inline-block;
        height: 0.66667rem;
        padding: 0 0.4rem;
        border-radius: 0.66667rem;
        line-height: 0.66667rem;
        margin: 0 auto;
        font-size: 0.29333rem;
        color: #7463c8;
        background-color: #e5f3fb;
        text-align: center; }
      .wkt-message-content-footer .wkt-message-content .message-list .content {
        text-align: left;
        color: #557755;
        position: relative; }
        .wkt-message-content-footer .wkt-message-content .message-list .content img {
          width: 0.66667rem;
          height: 0.66667rem;
          position: absolute;
          top: 0rem;
          left: 0; }
        .wkt-message-content-footer .wkt-message-content .message-list .content > div {
          margin-left: 0.93333rem;
          position: relative;
          font-size: 0.32rem; }
          .wkt-message-content-footer .wkt-message-content .message-list .content > div:after {
            content: "";
            position: absolute;
            border-top: 0.29333rem solid transparent;
            border-left: 0.24rem solid transparent;
            border-right: 0.24rem solid transparent;
            border-bottom: 0.29333rem solid #f8f8f8;
            left: 0.4rem;
            top: 0.13333rem; }
        .wkt-message-content-footer .wkt-message-content .message-list .content .name {
          font-size: 0.29333rem; }
        .wkt-message-content-footer .wkt-message-content .message-list .content .text {
          font-size: 0.32rem;
          background-color: #f8f8f8;
          line-height: 0.53333rem;
          padding: 0.26667rem 0.4rem;
          border-radius: 0.26667rem;
          margin-top: 0.26667rem;
          display: inline-block; }
      .wkt-message-content-footer .wkt-message-content .message-list .my .content {
        text-align: right; }
        .wkt-message-content-footer .wkt-message-content .message-list .my .content img {
          width: 0.66667rem;
          height: 0.66667rem;
          position: absolute;
          left: auto;
          right: 0; }
        .wkt-message-content-footer .wkt-message-content .message-list .my .content > div {
          margin-left: auto;
          margin-right: 0.93333rem; }
          .wkt-message-content-footer .wkt-message-content .message-list .my .content > div:after {
            left: auto;
            right: 0.4rem;
            border-bottom-color: #e5f3fb; }
        .wkt-message-content-footer .wkt-message-content .message-list .my .content .text {
          background-color: #e5f3fb; }

.wkt-message-footer {
  position: fixed;
  left: 0;
  right: 0;
  background-image: url(../images/wkt-bg-4.png);
  background-size: 100% auto;
  background-color: #fff;
  z-index: 9;
  bottom: 1.6rem;
  height: 1.33333rem; }
  .wkt-message-footer .wkt-message-search {
    background-color: rgba(255, 255, 255, 0.5);
    height: 0.8rem;
    border-radius: 0.4rem;
    position: relative;
    overflow: hidden;
    margin: 0.26667rem 1.6rem 0.26667rem 0.34667rem;
    padding: 0 0.8rem 0 0.4rem; }
    .wkt-message-footer .wkt-message-search .icon {
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      top: 0.2rem; }
    .wkt-message-footer .wkt-message-search .icon-searh {
      left: 0.26667rem;
      background-image: url(../images/wkt-head-1.png); }
    .wkt-message-footer .wkt-message-search .icon-remove {
      right: 0.26667rem;
      background-image: url(../images/wkt-head-2.png); }
    .wkt-message-footer .wkt-message-search .search {
      border: none;
      display: block;
      margin-top: 0.13333rem;
      width: 100%;
      height: 0.53333rem;
      line-height: 0.53333rem;
      background: transparent;
      font-size: 0.32rem;
      color: #333; }
  .wkt-message-footer .wkt-message-right {
    line-height: 1.33333rem;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.4rem;
    width: 1.6rem;
    text-align: center; }
    .wkt-message-footer .wkt-message-right button {
      color: #fff; }

.wkt-contact-header {
  height: 6.66667rem; }
  .wkt-contact-header .logo {
    width: 1.76rem;
    height: 1.76rem;
    margin: 0.33333rem auto 0.06667rem; }
  .wkt-contact-header .wkt-contack-header-msg {
    margin: 0 0 0 1.70667rem;
    font-size: 0.32rem;
    text-align: left;
    color: #fff; }
    .wkt-contact-header .wkt-contack-header-msg li {
      margin-bottom: 0.53333rem; }
    .wkt-contact-header .wkt-contack-header-msg li:last-child {
      margin-bottom: 0; }
    .wkt-contact-header .wkt-contack-header-msg .icon {
      width: 0.34667rem;
      height: 0.34667rem;
      margin: 0 0.13333rem -0.05333rem 0rem; }
    .wkt-contact-header .wkt-contack-header-msg .icon-tel {
      background-image: url(../images/wkt-contack-11.png); }
    .wkt-contact-header .wkt-contack-header-msg .icon-msg {
      background-image: url(../images/wkt-contack-12.png); }
    .wkt-contact-header .wkt-contack-header-msg .icon-addr {
      background-image: url(../images/wkt-contack-13.png); }

.wkt-contact-msg-content {
  position: relative;
  margin: 0 1.06667rem 0 1.46667rem; }
  .wkt-contact-msg-content li {
    position: relative;
    margin-top: 0.4rem;
    text-align: center; }
    .wkt-contact-msg-content li input, .wkt-contact-msg-content li textarea {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 100%;
      height: 1.33333rem;
      line-height: 0.66667rem;
      display: block;
      border: none;
      border-radius: 0.66667rem;
      background-color: #f8f8f8;
      font-size: 0.32rem;
      padding-left: 0.53333rem; }
    .wkt-contact-msg-content li textarea {
      height: 3.33333rem;
      line-height: 0.53333rem;
      padding-top: 0.46667rem; }
  .wkt-contact-msg-content li:first-child, .wkt-contact-msg-content li:nth-child(2) {
    height: 1.33333rem; }
  .wkt-contact-msg-content .icon {
    position: absolute;
    width: 0.32rem;
    height: 0.4rem;
    left: -0.53333rem;
    top: 0.46667rem; }
  .wkt-contact-msg-content .icon-name {
    background-image: url(../images/wkt-contack-8.png); }
  .wkt-contact-msg-content .icon-tel {
    background-image: url(../images/wkt-contack-9.png); }
  .wkt-contact-msg-content .icon-msg {
    background-image: url(../images/wkt-contack-10.png); }

.wkt-my-set-content {
  margin: 0.13333rem 0.4rem; }
  .wkt-my-set-content input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 1.33333rem;
    line-height: 0.66667rem;
    display: block;
    border: none;
    border-radius: 0.66667rem;
    background-color: #f8f8f8;
    font-size: 0.32rem;
    padding-left: 0.53333rem; }
  .wkt-my-set-content li:first-child {
    font-size: 0.32rem;
    line-height: 0.66667rem; }
    .wkt-my-set-content li:first-child img {
      width: 0.66667rem;
      height: 0.66667rem;
      margin: 0 0.13333rem -0.2rem 0.66667rem; }
  .wkt-my-set-content li {
    margin-top: 0.4rem; }
    .wkt-my-set-content li .tips {
      font-size: 0.29333rem;
      color: #888;
      padding-left: 0.53333rem;
      height: 0.66667rem; }

.wkt-my-bottom-box {
  margin: 0.26667rem 0 0.66667rem;
  text-align: center; }
  .wkt-my-bottom-box .msg {
    font-size: 0.29333rem;
    color: #888; }
  .wkt-my-bottom-box .icon-no-more {
    width: 0.4rem;
    height: 0.4rem;
    background-image: url(../images/wkt-icon-3.png);
    margin: 0 0 -0.06667rem 0; }

.wkt-my-contact-header {
  height: 4rem; }
  .wkt-my-contact-header .logo {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.53333rem 0 -0.53333rem 0; }
  .wkt-my-contact-header .text {
    width: 2.84rem;
    height: 0.52rem; }
