body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-touch-callout: none;
  touch-callout: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

fieldset,
img {
  border: 0;
  max-width: 100%; }

li {
  list-style: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  -webkit-appearance: none; }

button {
  -webkit-appearance: none;
  border: 0;
  background: none; }

a {
  -webkit-touch-callout: none;
  text-decoration: none;
  cursor: pointer; }

a:active {
  background-color: #e5e6e7; }

a:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

em, i {
  font-style: normal; }

.relative {
  position: relative !important; }

.hide {
  display: none !important; }

.show {
  display: -webkit-box !important; }

.block {
  display: block !important; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both; }

.icon {
  display: inline-block;
  background-size: 100% 100%; }

.wkt-button {
  width: 5.70667rem;
  height: 2.41333rem;
  line-height: 2.41333rem;
  background-image: url(../images/wkt-button.png);
  background-size: 100% 100%;
  text-align: center;
  display: inline-block;
  font-size: 0.45333rem;
  letter-spacing: 0.21333rem;
  color: #fff; }
  .wkt-button:hover, .wkt-button:active {
    background-image: url(../images/wkt-button-on.png); }

.wkt-header {
  height: 1.06667rem;
  background-image: url(../images/wkt-bg-4.png);
  background-size: 100% auto;
  overflow: hidden; }
  .wkt-header .wkt-header-search {
    height: 0.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0.13333rem 2.32rem 0.13333rem 0.34667rem;
    border-radius: 0.4rem;
    padding: 0 0.8rem;
    position: relative;
    overflow: hidden; }
    .wkt-header .wkt-header-search .search {
      border: none;
      display: block;
      margin-top: 0.13333rem;
      width: 100%;
      height: 0.53333rem;
      line-height: 0.53333rem;
      background: transparent;
      font-size: 0.32rem;
      color: #333; }
    .wkt-header .wkt-header-search .icon {
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      top: 0.2rem; }
    .wkt-header .wkt-header-search .icon-searh {
      left: 0.26667rem;
      background-image: url(../images/wkt-head-1.png); }
    .wkt-header .wkt-header-search .icon-remove {
      right: 0.26667rem;
      background-image: url(../images/wkt-head-2.png); }
  .wkt-header .wkt-login-info {
    position: absolute;
    width: 2.32rem;
    top: 0.13333rem;
    right: 0;
    height: 0.8rem;
    overflow: hidden; }
    .wkt-header .wkt-login-info .icon-user {
      width: 0.4rem;
      height: 0.4rem;
      top: 0.2rem;
      position: absolute;
      left: 0.13333rem;
      background-image: url(../images/wkt-head-3.png); }
    .wkt-header .wkt-login-info .text {
      display: block;
      line-height: 0.8rem;
      font-size: 0.32rem;
      color: #fff;
      margin-left: 0.66667rem; }

.wkt-header-top {
  height: 7.4rem;
  background-image: url(../images/wkt-bg-2.png);
  background-size: 100% 100%;
  text-align: center;
  overflow: hidden; }

.wkt-login-header .logo {
  display: block;
  width: 3.25333rem;
  height: 3.64rem;
  margin: 0.66667rem auto 0; }

.wkt-login-content {
  margin: 0 1.42667rem 0 2.06667rem;
  text-align: center; }
  .wkt-login-content input {
    border: none;
    font-size: 0.4rem;
    height: 0.66667rem;
    padding-left: 0.13333rem;
    float: left;
    margin-top: 0.13333rem; }
  .wkt-login-content .wkt-line {
    border-bottom: 0.01333rem solid #ccc;
    text-align: left;
    margin-top: 1.06667rem;
    height: 0.93333rem;
    position: relative; }
    .wkt-login-content .wkt-line .send-code {
      position: absolute;
      right: 0;
      top: 0.13333rem;
      line-height: 0.66667rem;
      padding: 0 0.2rem 0 0.4rem;
      border-left: 0.01333rem solid #ddd;
      color: #7463c8; }
    .wkt-login-content .wkt-line .icon {
      position: absolute;
      left: -0.53333rem;
      top: 0.26667rem;
      width: 0.32rem;
      height: 0.37333rem; }
    .wkt-login-content .wkt-line .icon-phone {
      background-image: url(../images/wkt-login-1.png); }
    .wkt-login-content .wkt-line .icon-code {
      background-image: url(../images/wkt-login-2.png); }
  .wkt-login-content .send-code {
    font-size: 0.4rem; }
  .wkt-login-content .wkt-msg {
    text-align: left;
    font-size: 0.32rem;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #7463c8;
    white-space: nowrap; }
  .wkt-login-content .wkt-erro {
    font-size: 0.32rem;
    color: #7463c8;
    margin-top: 0.26667rem;
    height: 0.37333rem; }
    .wkt-login-content .wkt-erro .icon-err {
      width: 0.37333rem;
      height: 0.37333rem;
      background-image: url(../images/wkt-icon-1.png);
      margin: 0 0.06667rem  -0.04rem 0; }

.wkt-contact-header {
  height: 6.66667rem; }
  .wkt-contact-header .logo {
    width: 1.76rem;
    height: 1.76rem;
    margin: 0.26667rem auto; }
  .wkt-contact-header .wkt-contack-header-msg {
    margin: 0 0 0 1.70667rem;
    font-size: 0.32rem;
    text-align: left;
    color: #fff; }
    .wkt-contact-header .wkt-contack-header-msg li {
      margin-bottom: 0.53333rem; }
    .wkt-contact-header .wkt-contack-header-msg li:last-child {
      margin-bottom: 0; }
    .wkt-contact-header .wkt-contack-header-msg .icon {
      width: 0.34667rem;
      height: 0.34667rem;
      margin: 0 0.13333rem -0.05333rem 0rem; }
    .wkt-contact-header .wkt-contack-header-msg .icon-tel {
      background-image: url(../images/wkt-contack-11.png); }
    .wkt-contact-header .wkt-contack-header-msg .icon-msg {
      background-image: url(../images/wkt-contack-12.png); }
    .wkt-contact-header .wkt-contack-header-msg .icon-addr {
      background-image: url(../images/wkt-contack-13.png); }
