
$color: #7463c8;
.wkt-button {
    width: 428px;
    height: 181px;
    line-height: 181px;
    background-image: url(../images/wkt-button.png);
    background-size: 100% 100%;
    text-align: center;
    display: inline-block;
    font-size: 34px;
    letter-spacing: 16px;
    color: #fff;

    &:hover,&:active {
        background-image: url(../images/wkt-button-on.png);
    }
}