
$color: #7463c8;
$color_txt: #575757;
$color_bg: #e5f3fb;
// 输入框
@mixin wkt-input {
    @include borderBox;
    width: 100%;
    height: 100px;
    line-height: 50px;
    display: block;
    border: none;
    border-radius: 50px;
    background-color: #f8f8f8;
    font-size: 24px;
    padding-left: 40px;
    
}

// 搜索框
@mixin wkt-search-input {
    border: none;
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: transparent;
    font-size: 24px;
    color: #333;
}

// 搜索框盒子
@mixin wkt-search-box {
    background-color: rgba(255,255,255, .5);
    height: 60px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    .icon {
        width:30px;
        height: 30px;
        position: absolute;
        top: 15px;
    }
    .icon-searh {
        left: 20px;
        background-image: url(../images/wkt-head-1.png)
    }
    .icon-remove {
        right: 20px;
        background-image: url(../images/wkt-head-2.png)
    }
    .search {
        @include wkt-search-input;
    }
}

// 搜索框右边
@mixin wkt-search-right {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    width: 120px;
    text-align: center;
    button {
        color: #fff;
    }
}

// 短背景
@mixin wkt-short-bg {
    position: fixed;
    left: 0;
    right: 0;
    background-image: url(../images/wkt-bg-4.png);
    background-size: 100% auto;
    background-color: #fff;
    z-index: 9;
}

@mixin wkt-little-button {

    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding: 0 30px;
    color: $color;
    background-color: $color_bg;
    border-radius: 50px;
    font-size: 22px;
    text-align: center;
}

@mixin wkt-hot-dot {
    @include after;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: red;
}
@mixin wkt-border-top {
    border-top: 30px solid #f4f4f4;
}   
// tab切换
.wkt-common-tab {
    height: 100px;
    line-height: 100px;
    display: flex;
    > li {
        flex-grow: 1;
        text-align: center;
        color: $color_txt;
        font-size: 28px;
        background-color: #f4f4f4;
        position: relative;
        > a {
            display: block;
            height: 100px;
            color:  $color_txt;
        }
    }
    > li:not(:first-child) {
        &:after {
            @include after;
            left: 1px;
            z-index: 8;
            height: 80px;
            top: 10px;
            border-left: 1px solid #ddd;
        }
    }
    > li.on {
        background: #fff;
    } 
    > li.new {
        .text {
            position: relative;
            &:after {
                @include wkt-hot-dot;
                right: -14px;
                top: -8px;
            }
        }
    }
    .icon {
        width: 28px;
        height: 30px;
        margin: 0 5px -5px 0;
    }
    .icon-radio {
        background-image: url(../images/wkt-data-1.png);
    }
    .icon-video {
        background-image: url(../images/wkt-data-2.png);
    }
}

@mixin wkt-delete-box {
    position: relative;
    margin-left: -120px;
    padding-right: 130px;
    button.delete {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 100%;
        background-color: #eb635a;
        font-size: 30px;
        color: #fff;
    }
}

@mixin wkt-bottom-box {
    margin:20px 0 50px;
    text-align: center;
    .msg {
        font-size: 22px;
        color: #888;
    }
    .icon-no-more {
        width: 30px;
        height: 30px;
        background-image: url(../images/wkt-icon-3.png);
        margin: 0 0 -5px 0;
    }
}
// 课程列表
.wkt-course-list {
    margin: 0 30px;
    li {
        padding: 30px 0;
        border-bottom: 1px solid #ddd;
        
    }
    button.delete {
        display: none;
    }
    li.delete {
        @include wkt-delete-box;
    }
    li.no-bottom-border {
        border-bottom: none;
    }
    .course-img {
        width: 150px;
        height: 150px;
        float: left;
    }
    .course-content {
        margin-left: 170px;
        min-height: 150px;
        color: $color_txt;
        .title {
            max-height: 80px;
            min-height: 60px;
            line-height: 40px;
            font-size: 24px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        .content {
            margin-top: 15px;
            position: relative;
            .left {
                font-size: 24px;
            }
            .head-img {
                width: 50px;
                height: 50px; 
                margin: 0 10px -12px 5px;
            }
            .right {
                position: absolute;
                font-size: 24px;
                right: 5px;
                top: -5px;
                .button {
                    @include wkt-little-button;
                    margin:10px 0 0 6px;
                }
            }
            .icon {
                width: 60px;
                height: 60px;
            }
            .icon-play {
                background-image: url(../images/wkt-common-5.png)
            }
            .icon-down {
                background-image: url(../images/wkt-common-6.png)
            }
            .icon-little {
                width: 46px;
                height: 46px;
                margin: 10px 0 -15px 0;
            }
        }
    }
}

// 提交按钮
.wkt-button {
    width: 428px;
    height: 181px;
    line-height: 181px;
    background-image: url(../images/wkt-button.png);
    background-size: 100% 100%;
    text-align: center;
    display: inline-block;
    font-size: 34px;
    letter-spacing: 16px;
    color: #fff;

    &:active {
        background-image: url(../images/wkt-button-on.png);
    }
    &:focus{
        outline: 0;
        -webkit-tap-highlight-color: transparent;
    }
}
.wkt-button-flat {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    font-size: 34px;
    letter-spacing: 16px;
    color: #fff;
    border-radius: 60px;
    background:-webkit-gradient(linear, 100% 0, 100% 100%, from(#d0acf2), to(#e3b3e6));  
}

input[type=checkbox] {
    width: 40px;
    height: 40px;
    position: relative;
    &:after {
        @include after;
        width: 40px;
        height: 40px;
        background-image: url(../images/wkt-create-3.png);
        background-size: 100% 100%;
        top: 0;
        left: 0;
    }
}
input[type=checkbox]:checked {
    &:after {
        background-image: url(../images/wkt-create-3-on.png);
    }
}